<template lang="pug">
  div
    div(v-if='customers.length')
      div(v-for='customer in sortCustomers' :key='customer.id')
        span.text-lg {{ customer.group }}
        .my-4
          CCard
            template(slot='content')
              div(v-for='cus in customer.children' :key='cus.id')
                .flex.px-4.py-3.border-b
                  .div(class='w-2/12')
                    img.border.border-gray-400.rounded-full(:src='cus.avatar' :alt='cus.reason')
                  .ml-4(class='w-9/12')
                    p.text-sm.text-black.font-medium
                      | {{ cus.reason }}
    div(v-else='')
      span
      p.text-gray-500.font-light.text-lg.text-center.px-2.mt-4
        | No existen usuarios registrados en
        span.text-red-700 ChiliChat
</template>

<script>
import { API, graphqlOperation } from 'aws-amplify'
import * as queries from '../src/graphql/queries'
import CCard from '~/components/CCard.vue'
export default {
  name: 'CCustomers',
  components: {
    CCard
  },
  computed: {
    customers() {
      return this.$store.getters['contacts/getContactsData']
    },
    sortCustomers() {
      const customersArr = this.$store.getters['contacts/getContactsData']
      const data = customersArr
        .sort((a, b) => (a.reason > b.reason ? 1 : -1))
        .reduce((r, e) => {
          const group = e.reason[0]

          if (!r[group]) r[group] = { group, children: [e] }
          else r[group].children.push(e)

          return r
        }, {})

      const result = Object.values(data)

      return result.sort((a, b) => (a.group > b.group ? 1 : -1))
    }
  },
  async mounted() {
    this.customers = await API.graphql(graphqlOperation(queries.getMessages))
  }
}
</script>
