<template lang="pug">
  .w-screen.h-screen.bg-gray-300
    CBackground
    .w-screen.h-screen.absolute.flex.justify-center.items-center
      .bg-white.rounded-lg.shadow-lg.lg_flex
        .lg_p-20
          div.flex.justify-center
            div.text-red-700.text-3xl.lg_text-6xl.font-bold.font-mono ChiliChat
          div.flex.justify-center  
            img.w-32(src="./hot_chili.png")
        amplify-authenticator.pl-8
</template>

<script>
import { AmplifyEventBus } from 'aws-amplify-vue'
import CBackground from '~/components/CBackground.vue'

export default {
  components: {
    CBackground
  },
  mounted() {
    AmplifyEventBus.$on('authState', (info) => {
      console.log('auth', info)
      if (info === 'signedIn') {
        this.$router.push('/profile')
      }
    })
  }
}
</script>

<style lang="stylus" scope>
.container
  margin 0 auto
  min-height 100vh
  display flex
  justify-content center
  align-items center
  text-align center

.title
  font-family 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
  display block
  font-weight 300
  font-size 100px
  color #35495e
  letter-spacing 1px

.subtitle
  font-weight 300
  font-size 42px
  color #526488
  word-spacing 5px
  padding-bottom 15px

.links
  padding-top 15px
</style>
