<template lang="pug">
  .h-screen.w-screen.bg-gray-200
    .h-screen
      CChatBot
      CDotsMenuContacts
      .h-screen.overflow-hidden
        div.w-full.bg-white.shadow-xl.h-20
          div.absolute.right-0
            div.flex.items-center
              div.text-red-700.text-xl.pr-4.text- {{$store.getters.getcurrentUser}}
              amplify-sign-out
        CMenu
        div.flex.justify-end
          div(class="w-full h-screen lg_w-9/12 overflow-y-scroll")
            div.h-full.w-full
              amplify-connect.px-4.pb-40(:query="getMessages" :subscription="addMessage" :onSubscriptionMsg="onAddMessage")
                template(slot-scope="{loading, data, errors}")
                  div(v-if="loading") Loading...
                  div(v-else-if="errors.length") Errors
                  div(v-else-if="data")
                    div(v-for='message in data.getMessages' :key='message.id')
                      .flex.justify-end(v-if="message.handle === $store.getters.getcurrentUser")
                        div.bg-white.rounded-lg.py-4.px-2.bg-blue-400.shadow-lg.border-2 {{message.handle}} -  {{message.body}} 
                      .flex.justify-start(v-else-if="message.handle != $store.getters.getcurrentUser")
                        div.bg-white.rounded-lg.py-4.px-2.bg-green-400.shadow-lg {{message.handle}} -  {{message.body}} 
              amplify-connect.absolute.bottom-0.h-20.w-full.bg-white.flex.justify-around.items-center(:mutation="createMessage" @done='onCreateFinished' class="lg_w-9/12")    
                template(slot-scope="{loading, mutate, errors}")
                  input.pl-4.h-16.rounded-full.shadow-outline(v-model="body" placeholder="Write your message" class="w-10/12")
                  button.rounded-full.bg-red-700(:disabled="loading" @click="mutate" class="w-1/12 h-16 b-2") Send
      
</template>

<script>
import { components, AmplifyEventBus } from 'aws-amplify-vue'
import { Auth } from 'aws-amplify'
import { getMessages } from '../src/graphql/queries'
import { addMessage } from '../src/graphql/subscriptions'
import { createMessage } from '../src/graphql/mutations'
import CDotsMenuContacts from '~/components/CDotsMenuContacts.vue'
import CMenu from '~/components/CMenu.vue'

export default {
  components: {
    ...components,
    CDotsMenuContacts,
    CMenu
  },
  data() {
    return {
      body: ''
    }
  },
  computed: {
    getMessages() {
      return this.$Amplify.graphqlOperation(getMessages)
    },
    addMessage() {
      return this.$Amplify.graphqlOperation(addMessage)
    },
    createMessage() {
      return this.$Amplify.graphqlOperation(createMessage, { body: this.body })
    }
  },
  created() {
    this.chatbot()
  },
  async mounted() {
    AmplifyEventBus.$on('authState', (info) => {
      console.log('auth', info)
      if (info === 'signedOut') {
        this.$router.push('/')
      }
    })
    const userObject = await Auth.currentAuthenticatedUser()
    this.$store.commit('SET_CURRENT_USER', userObject.username)
  },
  methods: {
    onAddMessage(prevData, newData) {
      const newMessage = newData.addMessage
      prevData.data.getMessages.push(newMessage)
      return prevData.data
    },
    onCreateFinished() {
      console.log('Message created!')
    },
    chatbot() {
      ;(function(d, m) {
        const kommunicateSettings = {
          appId: 'd04d1c663e1429694cba318d873e905f',
          popupWidget: true,
          automaticChatOpenOnNavigation: true
        }
        const s = document.createElement('script')
        s.type = 'text/javascript'
        s.async = true
        s.src = 'https://widget.kommunicate.io/v2/kommunicate.app'
        const h = document.getElementsByTagName('head')[0]
        h.appendChild(s)
        window.kommunicate = m
        m._globals = kommunicateSettings
      })(document, window.kommunicate || {})
    }
  }
}
</script>
